#root {
	height: 100vh;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.list-container {
	width: 50%;
}

.form {
	display: flex;
	padding: 10px;
	height: auto;
}

.form form {
	display: flex;
	flex-direction: column;
}

.true {
	text-decoration: line-through;
}

h2 {
	color: #a9d884;
}
